<%= link_to("Back to List", books_path, :class => 'back-link') %>

<% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
<% end %>

<div class="books edit">
  <h2>Edit Book</h2>

  <%= form_for(@book) do |f| %>
    <% # url: books_path(@book), method: 'patch' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Edit Book") %>
    </div>

    <% end %>
</div>